<div class="card mb-3" data-action="click->example#load_home_world">
  <div class="card-body" data-homeworld="<%= person.homeworld_id %>">
    Name: <%= person.name %>
    Weight: <%= person.mass %>
    Gender: <%= person.gender %>
  </div>
</div>