<h1>Welcome to John Riekena's Project!</h1>
<p class="lead">This is just a quick project to showcase a few topics for Johnson Law</p>


<div>
  <%= link_to 'Sign in', user_session_path %>
  <span>to view some things</span>
</div>